:root {
    /* Takes the root browser font size, typically 16px
    you can base relative measurements off of it with rem */
    font-size: 0.75em;
}

@media (min-width: 800px) {
    :root {
        font-size: 0.875em;
    }
}

@media (min-width: 1280px) {
    :root {
        font-size: 1em;
    }
}

body {
    font-family: sans-serif;
}

h1 {
    color: #2f4f4f;
    margin-bottom: 10px;
    font-weight: bold;
}

.title {
    font: 32pt Helvetica, Arial, sans-serif;
}

a:link {
    color: blue;
}

.nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.nav li {
    display: inline;
}

.nav a{
    color: white;
    background-color: #13a4a4;
    padding: 5px 15px;
    border-radius: 2px;
    text-decoration: none;

}

.nav .featured  {
    background-color: orange;
}

.panel {
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #999;
}

.panel > h2 {
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.footer {
    color: #666666;
    background-color: #cccccc;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}

.footer a {
    color: inherit;
    text-decoration: underline;
}