:root {
    /* Takes the root browser font size, typically 16px
    you can base relative measurements off of it with rem */
    font-size: calc(0.5em * 1vw);
}

/* @media (min-width: 800px) {
    :root {
        font-size: 0.875em;
    }
}

@media (min-width: 1280px) {
    :root {
        font-size: 1em;
    }
} */

body {
    font-family: sans-serif;
    line-height: 1.2;
}

.about-us {
    font-size: 2.0em;
}

h1 {
    color: #2f4f4f;
    margin-bottom: 10px;
    font-weight: bold;
}

.title {
    font: 32pt Helvetica, Arial, sans-serif;
}

a:link {
    color: blue;
}

.nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.nav li {
    display: inline;
}

.nav a{
    color: white;
    background-color: #13a4a4;
    padding: 5px 15px;
    border-radius: 2px;
    text-decoration: none;

}

.nav .featured  {
    background-color: orange;
}

.panel {
    font-size: 2rem;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #999;
}

.panel > h2 {
    margin-top: 0;
    font-size: 2vw;
    font-weight: bold;
    text-transform: uppercase;
}

/* viewpoint measurement example */
.square {
    width: 25vmin;
    height: 25vmin;
    background-color: #999;
}

.footer {
    color: #666666;
    background-color: #cccccc;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}

.footer a {
    color: inherit;
    text-decoration: underline;
}