:root {
    box-sizing: border-box;
    font-size: calc(0.5em * 1vw);
}

*,
::before,
::after {
    box-sizing: inherit;
}

body * + * {
    margin-top: 1.5em;
}

body {
    font-family: 'Minon Pro', 'Verdand', 'Trebuchet MS', sans-serif;

}

/* Heading Styles */
h1 {
    font-weight: 900;
}

h4 {
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
}

.main {
    width: 60%;
}

.sidebar{
    width: 40%;
    margin-left: 1.5em;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    align-self: flex-start;
}
.menu-item {
    padding: 15px;
    border-radius: 0.5em;
    background-color: lightgrey;
    width: 50%;
    
}

.menu-item > h4 {
    text-transform: uppercase;
}

.border-test {
    border: 1px solid red;
}

