/* Starting Settings - Style Resets */

:root {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }
  
  img {
    height: auto;
    width: 100%;
  }
  
  /* Styling */
  
  .container-page {
    background-color: aqua;
    padding: 1%;
  }
  
  .header {
    background-color: blueviolet;
    width: 100%;
  }
  
  .content {
    background-color: coral;
  }
  
  aside {
  }
  
  article {
  }
  
  .footer {
    background-color: deeppink;
  }
  
  .footer .placeholder {
    display: none;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 739px) {
    /* For desktop: */
    .col-1 {
      width: 8.33%;
    }
    .col-2 {
      width: 16.66%;
      float: left;
    }
    .col-3 {
      width: 25%;
    }
    .col-4 {
      width: 33.33%;
      float: left;
    }

    .col-8:after {
        display: table;
        clear: both;
        content: '';
    }

    .col-5 {
      width: 41.66%;
    }
    .col-6 {
      width: 50%;
    }
    .col-7 {
      width: 58.33%;
    }
    .col-8 {
      width: 66.66%;
    }
    .col-9 {
      width: 75%;
    }
    .col-10 {
      width: 83.33%;
    }
    .col-11 {
      width: 91.66%;
    }
    .col-12 {
      width: 100%;
    }
  }
  