:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: #eee;
    font-family: Helvetica,Arial, sans-serif;
}

header {
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
    /* padding-top: 3em;
    padding-bottom: 3em; Best method for vertical alignment, equal top and bott padding*/
}

/* Test for table display */
/* .wrapper {
    margin-left: -1.5em;
    margin-right: -1.5em;
} */

.container {
    /* display: table; */
    display: flex;
    /* border-spacing: 1.5em 0;
    width: 100%; */
}

main {
    display: block;
}

.main {
    /* float: left; */
    /* display: table-cell; */
    width: 70%;
    background-color: #fff;
    border-radius: .5em;
}

.sidebar {
    /* float: left;
    width: calc(30% - 1.5em); */
    /* display: table-cell; */
    width: 30%;
    margin-left: 1.5em;
    padding: 1.5em;
    background-color: #fff;
    border-radius: .5em;
}
